:root {
  --primary-text-color: #0f1419;
  --second-text-color: #5b7083;
  --accent-text-color: #1da1f2;
  --white-text-color: #ffffff;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  color: var(--primary-text-color);
  background-color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 1.3;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

.title {
  font-weight: 700;
font-size: 20px;
line-height: 1.2;
}
article {
  box-shadow: 0px 1px 0px #EBEEF0;
}
/*  buttons */
.button-tweet {
  padding: 10px 15px;
  background: #1da1f2;
  color: var(--white-text-color);
  border-radius: 24px;
  border: none;
}
.button-tweet.main {
  padding: 14px;
  width: 100%;
}
.button-follow {
  border: 1px solid var(--accent-text-color);
border-radius: 20px;
background-color: var(--white-text-color);
color: var(--accent-text-color);
}
.button-add{
  border-radius: 50%;
}

/* grid */

.grid-container {
  display: grid;
  grid-template-columns: 275px 598px 362px;
  grid-template-rows: 1000px 1fr;
  width: 1237px;
  height: 1134px;
  margin: auto;
  grid-template-areas: 
  "header main aside"
  ". main .";
}

/* header */
.header-section {
  grid-area: header;
  padding: 0px 40px 0px 10px;
}
.logo {
  color: var(--accent-text-color);
  font-size: 29px;
  margin-bottom: 22px;
}
.logo-link { 
  display: inline-block;
padding: 10px;}

.nav {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
}
.nav-item:not(:last-child) {
  margin-bottom: 10px;
}
.nav-item {
  padding: 12px;
}
.nav-item:hover, .nav-icon:focus {
  color: var(--accent-text-color)
}
.nav-icon {
  font-size: 25px;
  padding-right: 12px;
}
.twit_blog {
  display: flex;
}
.header-twit_blog {
}
.twit_blok-nikname {
    font-weight: 700;
}
/* main */
.main-section {
  grid-area: main;
}
.home {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 1px 0px #EBEEF0;
}
.make_post {
  display: flex;
  box-shadow: 0px 1px 0px #EBEEF0;
  padding: 10px 15px;
}
.make_post-img {
  margin-right: 15px;
}
.make_post-input {
  border: none;
  padding: 10px 0;
  font-size: 20px;
  margin-bottom: 5px;
  width: 100%;
}
.make_post-info {
  box-shadow: 0px 1px 0px #EBEEF0;
  margin-bottom: 15px;
  padding-bottom: 20px;
  color: var(--accent-text-color);
font-size: 13px;
}
.make_post-logo {
  margin-right: 10px;
  color: var(--accent-text-color);
  font-size: 16px;
}
.activity {
  display: flex;
}
.activity-list {
  display: flex;
  width: 100%;
}
.activity-icon {
  color: var(--accent-text-color);
  font-size: 19px;
}
.activity-item {
  padding: 9px;
}
.activity-item:not(:last-child) {
margin-right: 10px;
}
.button-add::before {
  content: "";
  width: 0px;
height: 31px;
border: 1px solid #AAB8C2;

}
.button-add::before {
  content: "";
  border: 2px solid #EBEEF0;
  width: 30px;
height: 30px;
}
.article-like_box {
  padding-top:15px;
  padding-left: 50px;
  padding-bottom: 10px;
}
.article-like_box:hover > .article-like_box-icon{
color: #E91B1B;;
}
.article-like_box-icon {
  margin-right: 10px;
}
.twit_block {
  display: flex;
  padding: 10px 15px 15px 15px;
}
.twit_block-icon {
  margin-right: 10px;
}
.article-twit_blok {
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
}
.article-twit_blok-name {
  margin-right: 5px;
  font-weight: 700;
}
.article-twit_blok-verified {
  font-size: 18px;
  color: var(--accent-text-color);
}
.article-twit_blok-verified.is-hiden {
  display: none;
}
.article-twit_blok-nikname {
  padding-right: 10px;
  font-weight: 400;
  color: var(--second-text-color);
}
.article-twit_blok-timer {
  color: var(--second-text-color);
}
/* aside */
.aside-section {
  grid-area: aside;
}
