:root {
  --primary-text-color: #0f1419;
  --second-text-color: #5b7083;
  --accent-text-color: #1da1f2;
  --white-text-color: #ffffff;
  --second-bg-color: #EBEEF0;
  --third-bg-color: rgba(0, 0, 0, 0.03);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  color: var(--primary-text-color);
  background-color: white;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 1.3;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

.title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
}
article {
  box-shadow: 0px 1px 0px #ebeef0;
}
/*  buttons */
.button-tweet {
  padding: 10px 15px;
  background: #1da1f2;
  color: var(--white-text-color);
  border-radius: 24px;
  border: none;
}
.button-tweet.main {
  padding: 14px;
  width: 225px;
}
.button-follow {
  border: 1px solid var(--accent-text-color);
  border-radius: 20px;
  padding: 5px 15px;
  color: var(--accent-text-color);
  background: none;
}
.button-add {
  padding: 2px;
  text-align: center;
  border-radius: 50%;
  margin-right: 10px;
  width: 30px;
  height: 30px;
  font-size: 20px;
}
.button-close {
  margin-left: 5px;
  border: none;
  border-radius: 50%;
  font-size: 20px;
  color: var(--second-text-color);
}

/* grid */

.grid-container {
  position: relative;
  display: grid;
  width: 1237px;
  grid-template-columns: 275px 598px 362px;
  grid-template-rows: 100vh 1fr;
  grid-template-areas:
    "header main aside"
    ". main .";
    margin: auto;
}

/* header */
.header-section {
  position: fixed;
  grid-area: header;
  padding: 0px 10px 0px 10px;
  height: 100%;
  display: flex;
    justify-content: space-between;
    flex-direction: column;
  
}
.logo {
  color: var(--accent-text-color);
  font-size: 29px;
  margin-bottom: 22px;
  background-color: var(--white-text-color);
}
.logo-link {
  display: inline-block;
  padding: 10px;
}

.nav {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
}
.nav-item:not(:last-child) {
  margin-bottom: 10px;
}
.nav-item {
  padding: 12px;
}
.nav-item:hover,
.nav-icon:focus {
  color: var(--accent-text-color);
}
.nav-icon {
  font-size: 25px;
  padding-right: 12px;
}
.twit_block {
  display: flex;
  justify-content: space-between;
}
.twit-block-card {
  display: flex;
}

.twit_block-icon {
  margin-right: 10px;
}
.twit_block-name{
  margin-right: 5px;
  font-weight: 700;
}
.twit_block-nikname {
  color: var(--second-text-color);
}

/* main */
.main-section {
  grid-area: main;
  box-shadow: 1px 0px 0px #EBEEF0;
}
.home {
  position: fixed;
  z-index: 2;
  width: 598px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 1px 0px #ebeef0;
  background-color: var(--white-text-color);
  
}
.make_post {
  position: fixed;
  z-index: 2;
  margin-top: 55px;
  width: 598px;
  display: flex;
  box-shadow: 0px 1px 0px #ebeef0;
  padding: 10px 15px;
  background-color: var(--white-text-color);
}
.make_post-block {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.make_post-img {
  margin-right: 15px;
}
.make_post-input {
  border: none;
  padding: 10px 0;
  font-size: 20px;
  margin-bottom: 5px;
  width: 100%;
  box-shadow: 0px 1px 0px #EBEEF0;
}
.make_post-info {
  margin-bottom: 15px;
  padding-bottom: 20px;
  color: var(--accent-text-color);
  font-size: 13px;
}
.make_post-logo {
  margin-right: 10px;
  color: var(--accent-text-color);
  font-size: 16px;
}
.wrapper {
  position: fixed;
  margin-top: 214px;
  z-index: 2;
  width: 598px;
height: 12px;
background: #F7F9FA;;
box-shadow: 0px 1px 0px #EBEEF0;
}
.post_list {
  margin-top: 230px;
}
.activity {
  display: flex;
  align-items: center;
}
.activity-list {
  display: flex;
  width: 100%;
}
.activity-icon {
  color: var(--accent-text-color);
  font-size: 19px;
}
.activity-item {
  padding: 9px;
}
.activity-item:not(:last-child) {
  margin-right: 10px;
}

.article-like_box {
  /* margin: 15px auto 10px 50px */
  padding-top: 15px;
  padding-left: 50px;
  padding-bottom: 10px;
}
.article-like_box:hover > .article-like_box-icon {
  color: #e91b1b;
}
.article-like_box-icon {
  margin-right: 10px;
}
.twit_block {
  display: flex;
  padding: 10px 15px 15px 15px;
}
.twit_block-icon {
  margin-right: 10px;
}
.article-twit_box {
position: relative;
}
.article-twit_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
}
.article-twit_block-small {
  display: flex;
  justify-content: flex-start;
}

.article-twit_block-verified {
  margin-right: 5px;
}
.article-twit_block-verified {
  font-size: 18px;
  color: var(--accent-text-color);
}
.article-twit_block-verified.is-hiden {
  display: none;
}
.article-twit_block-nikname {
  padding-right: 10px;
}
.article-twit_block-timer {
  color: var(--second-text-color);
}
.article-post {
  position: sticky;
}
.post-img {
  margin-top: 10px;
}
.reactions-list {
  display: flex;
  margin-top: 20px;
  color: var(--second-text-color);
}
.reactions-item {
  padding: 8px;
  
}
.reactions-item:not(:last-child) {
margin-right: 80px;
}
.reactions-item:hover, .reactions-item:focus {
  color: var(--accent-text-color);
}
.reactions-icon {
  margin-right: 10px;
}
/* aside */
.aside-section {
  position: relative;
  grid-area: aside;
  
  padding: 4px 10px;
}
.aside-container {
position: fixed;
width: 362px;
}
.aside-input-block {
  position: relative;
  
}
.aside-input {
  background: var(--second-bg-color);
  border-radius: 22px;
  border: none;
  padding: 10px 10px 10px 45px;
  width: 100%;
}
.aside-input-icon {
  position: absolute;
 left: 20px;
    top: 11px;
  color: var(--second-text-color);
 
}
.aside-block {
  margin-top: 15px;
  background: var(--third-bg-color);
  box-shadow: 0px 1px 0px #EFF1F2;
  border-radius: 20px;
}
.aside-title {
  border-radius: 20px 20px 0px 0px;
  box-shadow: 0px 1px 0px #EFF1F2;
  padding: 10px 15px;
}

.aside-icon {
color: var(--second-text-color);
}
.aside-twit_block {
  align-items: center;
  box-shadow: 0px 1px 0px #EFF1F2;
}
.aside-twit_block-card {
  display: flex;
}
.aside-twit-description {
  font-weight: 700;
}
.show-link {
  display: block;
  padding: 10px 15px;
  color: var(--accent-text-color);
}
.topics-title {
  font-size: 15px;
}
.topics-description {
  color: var(--second-text-color);
}
.topics-card {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  box-shadow: 0px 1px 0px #EFF1F2;
}


/* Mobile */

@media (max-width: 390px) {
.header-section  {
  position: relative;
  overflow: hidden;
}
.header-section:hover .overlay{
  transform: translateX(0);
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  transition: transform 250ms ease;
  background-color: var(--white-text-color);
}
.header-twit_block, .aside-block, .make_post-info, .activity-list, .wrapper {
  display: none;
}
.logo {
  position: fixed;
}
.home {
  position: fixed;
  margin-left: 50px;
  width: 336px;
}
/* .aside-input-block {
  margin-top: 50px;
  z-index: 3;
} */
.aside-section {
  position: absolute;
  z-index: 3;
  margin-top: 50px;
}
.aside-container {
  position:  static;
}
.grid-container {
  width: 390px;
  grid-template-columns: 1vw;
  grid-template-rows: auto;
  margin: auto;
}
.header-section, .main-section{
  width: 390px;
}
.make_post {
  width: 390px;
  margin-top: 0px;
  bottom: 0px;
  box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5)
}
.make_post-block {
  flex-direction: row;
}
.make_post-input {
  box-shadow: none;
}
.reactions-item:not(:last-child) {
  margin-right: 30px;

}
.post_list {
  margin-top: 100px;
  margin-bottom: 70px;
}
.nav-icon { 
  font-size: 8px;
}
.button-add {
  margin-left: 2px;
}
}